* {
    box-sizing: border-box;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
}

table {
    width: 100%;
    border: 1px solid red; 
    border-collapse: collapse;
}     

caption {
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 10px;
    font-size: 20px;
    background-image: url(../img/mapa.png);
}

th, td {
    border: 1px solid red;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}

td {
    height: 45px;
}

tr {
    background-color: #c9bdbd;
}

tbody > tr:nth-child(odd) {
    background-color: #ffcdcd;
}

tbody > tr:hover {
    background-color: rgba(255,127,127);
    font-size: 18px;
}

.naglowek {
    background-color: #830000;
    color: #dddddd;
}

th.m {
    width: 150px;
} 

th.st {
    width: 50px;
} 

td:nth-last-child(1) {
    background-color: red;
}

tr:hover > td:nth-last-child(1) {
    background-color: transparent;
}

h1 {
    font-family: 'Open Sans';
    font-size: 50pt;
}

.zajawka {
    background-image: url('../img/leki.webp');
    width: 300px;
    height: 200px;
}

.zajawka--nadtytul {
    background-color: rgb(206, 0, 0);
    color: white;
    padding: 10px;
    width: 50%;
}

.zajawka--tytul {
    font-size: 16pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.zajawka--tytul:hover {
    text-decoration: underline;
}

.zajawka--lead {
    font-size: 14pt;
    font-weight: normal;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgba(255,255,255,0.4);
}