* {
    box-sizing: border-box;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
}

table {
    width: 100%;
    border: 1px solid red; 
    border-collapse: collapse;
}     

caption {
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 10px;
    font-size: 20px;
    background-image: url(../img/mapa.png);
}

th, td {
    border: 1px solid red;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}

td {
    height: 45px;
}

tr {
    background-color: #c9bdbd;
}

tbody > tr:nth-child(odd) {
    background-color: #ffcdcd;
}

tbody > tr:hover {
    background-color: rgba(255,127,127);
    font-size: 18px;
}

.naglowek {
    background-color: #830000;
    color: #dddddd;
}

th.m {
    width: 150px;
} 

th.st {
    width: 50px;
} 

td:nth-last-child(1) {
    background-color: red;
}

tr:hover > td:nth-last-child(1) {
    background-color: transparent;
}

h1 {
    font-family: 'Open Sans';
    font-size: 50pt;
}

.zajawka {
    width: 300px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 100% auto;
    background-position-y: 50%;
    height: 200px;
    position: relative;
    margin: 20px;
    background-image: url(../img/mapa.png);
    border-radius: 5px;
}

.zajawka__duzy {
    width: 450px;
}

.zajawka__leki {
    background-image: url(../img/leki.webp);
}

.zajawka--nadtytul {
    background-color: rgb(206, 0, 0);
    color: white;
    padding: 10px;
    width: 35%;
    position: absolute;
    bottom: 100px;
    left: 20px;
}

.zajawka--tytul {
    font-size: 14pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 75px;
    left: 27px;
}

.zajawka--tytul__dramat {
    color: rgb(195, 0, 0);
}

.zajawka--tytul:hover {
    text-decoration: underline;
}

.zajawka--lead {
    font-size: 14pt;
    font-weight: normal;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    bottom: 10px;
    left: 22px;
    right: 10px;
    margin: 0;
}

.zajawki {
    display: flex;
    flex-wrap: wrap;
    /*height: 550px;*/
    align-content: space-around;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-column: zajawkistart / zajawkistop;
    grid-row: dolstart / dolstop;
}


.maingrid {
    display: grid;
    grid-template-columns: [lewastart] 100px 
                           [lewastop zajawkistart] auto 
                           [zajawkistop prawastart] 200px [prawastop];
    /*grid-template-columns: 100px auto 200px;*/
    grid-template-rows: [gorastart] 100px 
                        [gorastop dolstart] 
                        auto [dolstop artykulstart] auto [artykulstop];
}

.belkagorna {
    background-color:green;
    grid-column: lewastart / prawastop;
    /*grid-column: 0 / 2 */
    grid-row: gorastart / gorastop;
}

.artykuly {
    grid-column: zajawkistart / zajawkistop;
    grid-row: artykulstart / artykulstop;

}

.menu {
    background-color: bisque;
    position: fixed;
    width: 180px;
    top: 100px;
    right: 10px;
    padding: 0;
}

.menu > a {
    display: block;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    color: black;
    }

.menu > a:hover {
    display: block;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}